body > .container-fluid, body > .container {
	padding-top: 50px;
}

.footer {
    background-color: #f5f5f5;
    font-size: 12px;
    color: #868686;
    line-height: 50px;
    text-align: center;
}

form.form-signin {
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
}

#page-wrapper {
	min-height: calc(100vh - 50px);
}

.form-signin #email {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin #password {
    margin-top: -1px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}