body {
  background: #efefef;
  color: #434A54;
}

.h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  color: #67808C;
}

h2 {
    font-size: 35px;
}

.page-header {
  padding: 10px 30px 10px 30px;
}
.header-links {
    display: block;
    width: 100%;
    clear: both;
}
.btn-group>.btn+.dropdown-toggle {
  height: 34px;
}

/* Login form CSS */

form.form-signin {
  margin-left: auto;
  margin-right: auto;
  max-width: 350px;
}

#page-wrapper {
	min-height: calc(100vh - 50px);
}

.form-signin #email {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin #password {
  margin-top: -1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}


/* Timeline CSS */

img
{
  vertical-align: middle;
}
.img-responsive
{
  display: block;
  height: auto;
  max-width: 100%;
}
.img-rounded
{
  border-radius: 3px;
}
.img-thumbnail
{
  background-color: #fff;
  border: 1px solid #ededf0;
  border-radius: 3px;
  display: inline-block;
  height: auto;
  line-height: 1.428571429;
  max-width: 100%;
  moz-transition: all .2s ease-in-out;
  o-transition: all .2s ease-in-out;
  padding: 2px;
  transition: all .2s ease-in-out;
  webkit-transition: all .2s ease-in-out;
}
.img-circle
{
  border-radius: 50%;
}
.timeline-centered {
  position: relative;
  margin-bottom: 30px;
}

.timeline-centered:before, .timeline-centered:after {
  content: " ";
  display: table;
}

.timeline-centered:after {
  clear: both;
}

.timeline-centered:before, .timeline-centered:after {
  content: " ";
  display: table;
}

.timeline-centered:after {
  clear: both;
}

.timeline-centered:before {
  content: '';
  position: absolute;
  display: block;
  width: 4px;
  background: #4f5f6f;
  left: 38px;
  top: 20px;
  bottom: 20px;
  margin-left: -4px;
}

.timeline-centered .timeline-entry {
  position: relative;
  width: 100%;
  float: right;
  margin-bottom: 35px;
  clear: both;
}

.timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
  content: " ";
  display: table;
}

.timeline-centered .timeline-entry:after {
  clear: both;
}

.timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
  content: " ";
  display: table;
}

.timeline-centered .timeline-entry:after {
  clear: both;
}

.timeline-centered .timeline-entry.begin {
  margin-bottom: 0;
}

.timeline-centered .timeline-entry.left-aligned {
  float: left;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner {
  margin-left: 0;
  margin-right: -18px;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-time {
  left: auto;
  right: -100px;
  text-align: left;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-icon {
  float: right;
}

.timeline-icon .fa-icon {
  margin-top: 11px;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label {
  margin-left: 0;
  margin-right: 70px;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label:after {
  left: auto;
  right: 0;
  margin-left: 0;
  margin-right: -9px;
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.timeline-centered .timeline-entry .timeline-entry-inner {
  position: relative;
  margin-left: 15px;
}

.timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
  content: " ";
  display: table;
}

.timeline-centered .timeline-entry .timeline-entry-inner:after {
  clear: both;
}

.timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
  content: " ";
  display: table;
}

.timeline-centered .timeline-entry .timeline-entry-inner:after {
  clear: both;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time {
  position: absolute;
  left: -100px;
  text-align: right;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span {
  display: block;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:first-child {
  font-size: 15px;
  font-weight: bold;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:last-child {
  font-size: 12px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
  background: #F6F6F6;
  color: #4f5f6f;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-align: center;
  -moz-box-shadow: 0 0 0 5px #4f5f6f;
  -webkit-box-shadow: 0 0 0 5px #4f5f6f;
  box-shadow: 0 0 0 5px #4f5f6f;
  line-height: 40px;
  font-size: 15px;
  float: left;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
    position: relative;
    background: #FFFFFF;
    margin-left: 70px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 6px 11px -7px rgba(0,0,0,.2);
}

.timeline-content {
    padding: 1em;
}

.timeline-footer {
    border-top: 1px solid #efefef;
    background: rgb(251, 251, 251);
    padding: 1em;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 9px 9px 0;
  border-color: transparent white transparent transparent;
  left: 0;
  top: 10px;
  margin-left: -9px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2, .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p {
  color: #333333;
  font-family: "Noto Sans",sans-serif;
  font-size: 12px;
  margin: 0;
  line-height: 1.428571429;
}


.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
  font-size: 16px;
  margin-bottom: 10px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 a {
  color: #303641;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 span {
  -webkit-opacity: .6;
  -moz-opacity: .6;
  opacity: .6;
  -ms-filter: alpha(opacity=60);
  filter: alpha(opacity=60);
}


/* Sass Variables */
/* gantt styles */
.gantt {
  position: relative;
  overflow: hidden;
  color: #434A54;
  background: #F5F7FA;
}

.gantt * {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.gantt li {
  list-style: none;
}

/* optional title */
.gantt figcaption {
  position: absolute;
  top: 25px;
  left: 20px;
  font-size: 20px;
  color: black;
  text-transform: uppercase;
  letter-spacing: 4px;
}

/* sidebar */
.gantt aside {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  width: 199px;
  border-right: 1px solid #656D78;
  z-index: 2;
}

.gantt aside:before {
  position: absolute;
  right: -7px;
  pointer-events: none;
  width: 7px;
  top: 0;
  bottom: 0;
  content: "";
  background: -webkit-linear-gradient(left, rgba(170, 178, 189, 0.73), rgba(230, 233, 237, 0));
  background: -moz-linear-gradient(left, rgba(0, 43, 54, 0.7), rgba(0, 43, 54, 0));
  background: linear-gradient(left, rgba(0, 43, 54, 0.7), rgba(0, 43, 54, 0));
  z-index: 3;
}

.gantt aside .gantt-labels {
  border-top: 1px solid #AAB2BD;
}

.gantt aside .gantt-label strong {
  display: block;
  padding: 0 20px;
  color: #434A54;
  border-bottom: 1px solid #AAB2BD;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* data section */
.gantt-data {
  position: relative;
  overflow-x: scroll;
  margin-left: 200px;
  white-space: nowrap;
}

/* data section header */
.gantt header .gantt-months {
  overflow: hidden;
}

.gantt header .gantt-month {
  float: left;
  text-align: center;
}

.gantt header .gantt-month strong {
  display: block;
  border-right: 1px solid #AAB2BD;
  border-bottom: 1px solid #AAB2BD;
}

.gantt header .gantt-day span {
  text-indent: 0;
  text-align: center;
}

.gantt header .gantt-day.today span {
  color: white;
}

/* data items */
.gantt-item {
  position: relative;
}

.gantt-days {
  overflow: hidden;
}

.gantt-day {
  float: left;
}

.gantt-day span {
  display: block;
  border-right: 1px solid #AAB2BD;
  border-bottom: 1px solid #AAB2BD;
  text-indent: -12000px;
}

.gantt-day.weekend span {
  background: #E6E9ED;
}

/* data blocks */
.gantt-block {
  position: absolute;
  top: 0;
  z-index: 1;
  margin: 4px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.gantt-block-label {
  display: block;
  color: white;
  padding: 5px 10px;
}

/* block colors */
.gantt-block {
  background: #5D9CEC;
}

.gantt-block.important {
  background: #A0D468;
}

.gantt-block.urgent {
  background: #FC6E51;
}

/* today sign */
.gantt time {
  position: absolute;
  top: 0;
  width: 2px;
  background: white;
  bottom: 0;
  z-index: 1000;
  text-indent: -12000px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px;
}

.gantt time:before {
  position: absolute;
  content: "";
  top: 0;
  left: -4px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white;
}

/* scrollbar styles */
.gantt ::-webkit-scrollbar {
  background: #CCD1D9;
  height: 10px;
}

.gantt ::-webkit-scrollbar-thumb {
  background: #434A54;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0 inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0 inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0 inset;
}

/* selection styles */
.gantt ::-moz-selection {
  background: #fff;
  color: #000;
}

.gantt ::selection {
  background: #fff;
  color: #000;
}

/* Draggable handles */

span.my-handle {
    margin-left: -16px;
    display: inline-block;
    cursor: move;
    cursor: -webkit-grabbing;
    float: left;
    border-right: 3px solid grey;
    height: 60px;
    padding-right: 6px;
    padding-left: 1px;
}
.current a {
    color: #548E15;
}
.current .my-handle {
    border-color: #548E15;
}
.overdue a {
    color: #CE3636;
}

.overdue .my-handle {
    border-color: #CE3636;
}
.row-flex, .row-flex > div[class*='col-'] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;
}

.row-flex-wrap {
  -webkit-flex-flow: row wrap;
    align-content: flex-start;
    flex:0;
}

.row-flex > div[class*='col-'], .container-flex > div[class*='col-'] {
   margin:-.2px; /* hack adjust for wrapping */
}

.container-flex > div[class*='col-'] div,.row-flex > div[class*='col-'] div[class*='flex-panel']  {
  width:100%;
}


.flex-col {
    display: flex;
    display: -webkit-flex;
    flex: 1 100%;
  flex-flow: column nowrap;
}

.flex-grow {
  display: flex;
    -webkit-flex: 2;
    flex: 2;
}

.vcard {
    display: inline-block;
}

.navbar-inverse {
    background: #434A54;
    border: #434A54;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #E9573F;
}
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-text {
    color: rgba(255,255,255,0.75);
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #2b343c;
}
.dropdown-menu {
    background-color: #2b343c;
    border: none;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #fff;
    background: #2b343c;
}
.navbar-inverse .navbar-brand {
    color: rgba(255,255,255,0.5);
}
.dropdown-menu li a:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.28);
    outline: 0;
}

.panel.panel-default {
    border-color: white;
}
.panel-default .panel-heading {
    background: white;
    color: black;
    border-color: transparent;
}
.panel-default .panel-title {
    font-size: 18px;
    font-weight: bold;
    padding: 0.5em 0 0 0;
}
.panel.panel-stat {
    background: transparent;
    box-shadow: none;
    text-align: center;
}
.panel.panel-stat:not(:first-child) {
    border-left: 1px solid rgba(79, 95, 111, 0.21);
    box-shadow: inset 1px 0 white;
}

.panel .hide-edit {
  visibility: hidden;
}
.panel:hover .hide-edit {
  visibility: visible;
}
.list-group-item .title {
    font-weight: bold;
    width: 80px;
    display: inline-block;
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    .timeline-centered:before, .timeline-icon {
        display: none !important;
    }
    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
        margin-left: 0px;
    }
    .timeline-centered .timeline-entry .timeline-entry-inner {
        margin-left: 0px;
    }
    .tab-timeline {
        padding: 10px 0px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .timeline-centered:before, .timeline-icon {
        display: none !important;
    }
    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
        margin-left: 0px;
    }
    .timeline-centered .timeline-entry .timeline-entry-inner {
        margin-left: 0px;
    }
    .tab-timeline {
        padding: 10px 0px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .timeline-centered:before, .timeline-icon {
        display: none !important;
    }
    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
        margin-left: 0px;
    }
    .timeline-centered .timeline-entry .timeline-entry-inner {
        margin-left: 0px;
    }
    .tab-timeline {
        padding: 10px 0px;
    }
}
a.xedit-toggle.editable.editable-click.editable-disabled {
    color: #3bafda;
    cursor: hand;
}
.xedit-hide.editable-disabled {
    display: none;
}
body.lulz {
  transition: 1s;
  transform: rotate(180deg);
  overflow-x: hidden;
}
a.delete {
    visibility: hidden;
}
li:hover a.delete {
    visibility: visible;
}
.table {
    font-size: 14px;
}
.table>thead:first-child>tr:first-child>th {
    border-top: 1px solid #ccc;
}
h2 {
    font-size: 25px;
}
.page-header {
    background: white;
}
.header-padding {
    margin: 67px;
}

table.tasks {
    color: #333;
}

table.tasks tr.danger {
    border-left: 2px solid #ff4a4a;
}

table.tasks tr.info {
    border-left: 2px solid #00aaff;
}

/* Notifications */

ul.notifications {
    padding-bottom: 0;
    overflow: hidden;
}
li.primary {
    background: #708598;
    text-align: center;
}
.prev:before {
    content: "\2039 ";
}
a.next:before {
    content: "\0203A ";
}
.editable-clear {
    display: none;
}
.editable-input {
    width: 100%;
    float: left;
    clear: both;
}
.editable-buttons {
    margin: 10 0;
    clear: left;
    width: 100%;
    float: left;
}
.datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active:hover.disabled, .datepicker table tr td.active.disabled.disabled, .datepicker table tr td.active.disabled:hover.disabled, .datepicker table tr td.active[disabled], .datepicker table tr td.active:hover[disabled], .datepicker table tr td.active.disabled[disabled], .datepicker table tr td.active.disabled:hover[disabled] {
    background-color: #37BC9B !important;
    background-image: none;
}
a {
    color: #4f8cde;
    text-decoration: none;
}
.page-header.header-padding {
    border: none;
}
input.form-control.search {
    border-radius: 0;
    border: 0;
    background: #434a54;
    color: white;
}
button.btn.btn-primary.search {
    border: none;
    border-radius: 0;
    background: none;
    margin-left: -32px;
}
input.form-control.search {
    border: 1px solid #62666b;
    background: rgba(0, 0, 0, 0.3);
    color: #ffffff;
    border-radius: 2px;
}
input.form-control.search:hover {
    border-color: #37bc9b;
}
input.form-control.search:focus {
    border: 1px solid #37bc9b;
    box-shadow: 0 0 3px #37bc9b;
}
div#search {
    margin-right: 20px;
}
#search > .form-group {
    width: 200px;
    transition: all ease 0.3s;
}

.panel-solid {
    color: white;
}
.panel-solid.panel-info .panel-body {
    background: #48CFAD;
}
.panel-solid.panel-info .panel-footer {
    background: #37BC9B;
    border: none;
}
.panel-solid.panel-primary .panel-body {
    background: #4FC1E9;
}
.panel-solid.panel-primary .panel-footer {
    background: #3BAFDA;
    border: none;
}
.panel-solid.panel-danger .panel-body {
    background: #FC6E51;
}
.panel-solid.panel-danger .panel-footer {
    background: #E9573F;
    border: none;
}
.panel-solid.panel-warning .panel-body {
    background: #FFCE54;
}
.panel-solid.panel-warning .panel-footer {
    background: #F6BB42;
    border: none;
}
.jqstooltip {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.header-padding {
    margin: 67px;
}
span.subinfo {
    font-size: 16px;
    margin-right: 0.8em;
}
li.list-group-item.complete {
    background: #f6f9f8;
}
a.exit-fullscreen {
    display: none;
}
a.md-control.md-control-fullscreen {
    display: none;
}

.panel {
	box-shadow: 0 6px 11px -7px rgba(0,0,0,.2);
}
.panel-danger>.panel-heading {
    color: #fff;
    background-color: #F44336;
    border-color: #F44336;
}
.panel-success>.panel-heading {
    color: #fff;
    background-color: #8BC34A;
    border-color: #8BC34A;
}
.progress-bar {
    background-color: #03A9F4;
}
.list-group {
	box-shadow: 0 6px 11px -7px rgba(0,0,0,.2);
}

ul.nav.nav-tabs {
    background: none;
    text-align: center;
}
.nav-tabs>li>a {
    color: #434a54;
    background: white;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: #e9573f!important;
    color: white;
}
.nav-tabs>li {
    float: none;
    display: inline-block;
    border: none;
    box-shadow: 0 6px 11px -7px rgba(0,0,0,.2);
}
.nav-tabs>li:first-child>a {
    border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
}
.nav-tabs>li:last-child>a {
    border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
}
.nav-tabs>li:not(:first-child) {
    margin-left: -4px;
}
/* BELL */

@-webkit-keyframes ring {
  0% {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }

  1% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  2% {
    -webkit-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }

  3% {
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
  }

  4% {
    -webkit-transform: rotate(-22deg);
    transform: rotate(-22deg);
  }

  5% {
    -webkit-transform: rotate(22deg);
    transform: rotate(22deg);
  }

  6% {
    -webkit-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }

  7% {
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
  }

  8% {
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }

  9% {
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg);
  }

  10%, 100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes ring {
  0% {
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }

  1% {
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  2% {
    -webkit-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }

  3% {
    -webkit-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    transform: rotate(18deg);
  }

  4% {
    -webkit-transform: rotate(-22deg);
    -ms-transform: rotate(-22deg);
    transform: rotate(-22deg);
  }

  5% {
    -webkit-transform: rotate(22deg);
    -ms-transform: rotate(22deg);
    transform: rotate(22deg);
  }

  6% {
    -webkit-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }

  7% {
    -webkit-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    transform: rotate(18deg);
  }

  8% {
    -webkit-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }

  9% {
    -webkit-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
    transform: rotate(12deg);
  }

  10%, 100% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.faa-ring.animated,
.faa-ring.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-ring {
  -webkit-animation: ring 2s ease infinite;
  animation: ring 4s ease infinite;
   animation-delay: 15s;
  transform-origin-x: 50%;
  transform-origin-y: 0px;
  transform-origin-z: initial;
}

li.active span.badge.badge-info {
    background: #434a54;
    color: white;
}